@font-face
{
    font-family: 'titre';
    src: url('Alkhemikal.ttf');
}

@font-face
{
    font-family: 'para';
    src: url('SquimFont.ttf');
}

html
{
  cursor: crosshair;
}

a:hover
{
  cursor: crosshair;
}

a:active
{
  cursor: crosshair;
}

body
{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 125%;
  background: url("images/bg.jpg");
  background-size: 130vmax;
  position: absolute;
}

audio
{
  display: none;
}
@media only screen and (max-width: 1280px) {
/*
  body
  {
    padding: 0;
    margin: 0;
    background: url("images/bg.jpg");
    background-size: 450%;
    position: absolute;
  }*/
}

body::-webkit-scrollbar
{
  height: 1.1vh;
  width: 1.1vh;
}

body::-webkit-scrollbar-track
{
  background: #021C1E;
}

body::-webkit-scrollbar-thumb
{
  background: #3F895F;
}

body::-webkit-scrollbar-corner
{
  background: #021C1E;
}

nav
{
  width: 14.375vmax;
}

div.menu nav ul li.case, li.sousmenu
{
  position: relative;
  right: 31.25vmax;
}

/**/
li.case, li.sousmenu
{
  transition: all 0.3s;
}
/**/

nav ul:hover li.case
{
  transform: translate(31.25vmax);
}
nav ul:hover li.sousmenu
{
  transform: translate(31.25vmax);
}

#menuaffichage
{
  transition: all 0.3s;
}

nav ul:hover #menuaffichage
{
  transform: rotate(180deg);
}

/*changement de police pour la liste*/
div.menu nav ul
{
  font-size: 1vmax;
  font-family: arial;
  list-style: none;
  margin: 0;
  padding: 0;
}

/*action sur les textes (liens) de la liste*/
div.menu nav ul li.case a
{
  text-decoration: none;
  color: #6FB98F;
  /*font-weight: bold;*/
}

/*actions sur les éléments de la liste sauf caseactions*/
div.menu nav ul li.case
{/*
  width: 14.375vmax;*/
  /*padding: 20px;*/
  background-color: #021C1E;
  border-bottom: 0.125vmax solid #070707;
}

div.menu nav ul li.case div
{
  border-right: 0.25vmax solid #6FB98F;
}
/* taille de toutes les case (y compris le sous-menu           y compris #pourremplir)*/
div.menu nav ul div
{
  padding-left: 1.25vmax;
  padding-right: 1.25vmax;
  padding-top: 1.25vmax;
  padding-bottom: 1.625vmax;
  height: 0.75vmax;
  width: 11.875vmax;
}

/* ^  que 190px parce que padding-left et right = 20px        190 + 40 = 230 */

div.menu nav ul li.case:hover
{
  transition: 0.1s;
  background-color: #ED5752;
}

div.menu nav ul li.case:hover a
{
  transition: 0.1s;
  color: #FDE3E1;
}

div.menu ul li#pourremplir div
{
  padding-bottom: 0vmax;
  padding-top: 13.3125vmax;

  background-color:#021C1E;
  width: 11.875vmax;/*
  height: 119.4%;*/
  height: 100%;/*
  min-height: 792px;*/
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0.4375vmax 0vmax 0.3125vmax black;
  z-index: -1;
}




/*-----MINIROTATE QUAND ON CLIQUE-----*/

div.menu nav ul li.case div:active
{
  transform: rotate(2deg);
}

div.menu nav ul li.sousmenu div:active
{
  transform: rotate(-2deg);
}

div.menu nav ul li.sousmenu ul li:active
{
  transform: rotate(-1deg);
}
/*--------------------------------*/





/*-------SOUS-MENU---------------*/

div.menu nav ul ul
{
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 14.375vmax;
  top: 0vmax;
  background-color: #021C1E;
  border-left: 0.25vmax solid #6FB98F;
  box-shadow: 0vmax 0vmax 1.25vmax #000000;

  z-index: 5;
}

div.menu nav ul ul li#boutonsousmenu2
{
  border-top: 0.125vmax solid #070707;
}

li.sousmenu
{
  border-bottom: 0.125vmax solid #070707;
  color: #6FB98F;
  z-index: 5;
}

li.sousmenu div.caseactions
{
  border-right: 0.25vmax solid #6FB98F;
}

li.sousmenu a
{
  color: #6FB98F;
  text-decoration: none;
}

li.sousmenu
{
  width: 14.375vmax;
}

/*---changement de couleurs (background + texte) quand 'caseactions:hover'---*/

li.sousmenu div.caseactions:hover
{
  background-color: #ED5752;
  color: #FDE3E1;
}



/*---affichage du sous-menu quand 'caseactions:hover'---*/

li.sousmenu:hover ul
{
  transition: 0.2s;
  opacity: 1;
  visibility: visible;
  z-index: 5;
}



/*---changement de couleurs (background + texte) quand 'élément de la sous-liste:hover'---*/

li.sousmenu ul li:hover div
{
  background-color: #ED5752;
  color: #FDE3E1;
}






/*---------------CASE MENU-----------------*/
i
{
  margin-right: 0.625vmax;
}

li#ouverturemenu div
{
  color: #6FB98F;
  background-color: #070707;
}
/*----------------------------------------*/




/*--------------------------------------------------------------------------------------------------------------------------------------------*/

section /*pour ne pas empiéter sur la case de l'ouverture du menu (gêne pour le hover)*/
{
  z-index: -1000;
}
div#rondclair
{
  width: 62.5vmax;
  height: 50vmax;
  background-color: #6FB98F;
  margin-left: 21.875vmax;
  margin-top: -17.5vmax;

  border-radius: 80% 50% / 10% 40%;

  box-shadow: 0vmax 0vmax 3.75vmax black;
}

div#rondclair h1
{
  padding-top: 7.8125vmax; /*125px*/
  padding-right: 4vmax;

  position: relative;/*
  left: -1.875vmax;*/

  text-align: center;
  font-size: 3.5vmax;      /* 3.5% ou 3.5em (la même chose)  =  3.5vw  =  7ch = 3.5vmax ==> 56px*/
  color: #021C1E;
  font-family: titre;

  opacity: 0.7;
  transition: all 0.3s;
}

div#rondclair p
{
  padding-top: 1.5625vmax;
  padding-left: 3.75vmax;

  position: relative;/*
  left: 3.75vmax;*/

  font-size: 1.5625vmax;

  text-align: justify;
  width: 50vmax;
  color: #021C1E;
  font-family: para;

  opacity: 0.7;
  transition: all 0.3s;
}

div#rondclair:hover h1
{
  opacity: 1;
}

div#rondclair:hover p
{
  opacity: 1;
}


/*--------------------------------------------------------------------------------------------------------------------------------------------*/


#barrefin
{
  width: 100%;
  height: 7.8125vmax;
  position: absolute;
  bottom: -13.3125vmax;
  left: 0;
  background-color: #3F000F;
  z-index: -6;
  text-align: center;
}

#barrefin div
{
  opacity: 0.9;

  border: 0.125vmax solid white;
  border-radius: 10% / 100%;
  margin-top: 1.75vmax;
  margin-left: 11.6875vmax;

  display: inline-block;
  height: 4.375vmax;
  width: 46.875vmax;
}

#barrefin p
{
  opacity: 0.9;
  color: #FFFFFF;
  font-family: arial;
  padding-top: 0.5vmax;
  font-size: 1vmax;

  display: inline-block;
  /*border: 2px solid white;*/
}
